@mixin table{
    table{
    	border-collapse: collapse;
	    border-spacing: 0;
	    empty-cells: show;
	    width: 100%;
	    border: 1px solid rgba(231, 231, 231, 1);

	    caption{
	    	color: #000;
		    font: italic 85%/1 arial, sans-serif;
		    padding: 1em 0;
		    text-align: center;
	    }

	    td, th{
	    	border-left: 1px solid rgba(231, 231, 231, 1);
	    	border-bottom: 1px solid rgba(231, 231, 231, 1);
		    font-size: inherit;
		    margin: 0;
		    overflow: visible;
		    padding: 8px 16px;
		    font-size: 0.875em;
		    text-align: left;
	    }

	    thead {
		    background-color: rgba(245, 247, 250, 1);
		    color: rgba(74, 74, 74, 1);
		    text-align: left;
		    vertical-align: bottom;
		}

    }
}