@media (min-width: 576px) {
    .bx--grid {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.bx--grid.max {
    max-width: 1600px;
}

.bx--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
}

@media (min-width: 576px) {
    .bx--row {
        margin: 0 -10px;
    }
}

[class*="bx--col"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 5px;
}

@media (min-width: 576px) {
    [class*="bx--col"] {
        padding: 0 10px;
    }
}

.bx--col-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
}

.bx--col-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
}

.bx--col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.bx--col-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}

.bx--col-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
}

.bx--col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.bx--col-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
}

.bx--col-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
}

.bx--col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}

.bx--col-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
}

.bx--col-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
}

.bx--col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

@media (min-width: 576px) {
    .bx--col-sm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .bx--col-sm-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .bx--col-sm-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .bx--col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .bx--col-sm-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .bx--col-sm-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .bx--col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .bx--col-sm-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .bx--col-sm-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .bx--col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .bx--col-sm-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .bx--col-sm-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .bx--col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .bx--col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .bx--col-md-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .bx--col-md-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .bx--col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .bx--col-md-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .bx--col-md-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .bx--col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .bx--col-md-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .bx--col-md-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .bx--col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .bx--col-md-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .bx--col-md-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .bx--col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (min-width: 992px) {
    .bx--col-lg-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .bx--col-lg-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .bx--col-lg-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .bx--col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .bx--col-lg-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .bx--col-lg-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .bx--col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .bx--col-lg-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .bx--col-lg-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .bx--col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .bx--col-lg-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .bx--col-lg-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .bx--col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (min-width: 1200px) {
    .bx--col-xl-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .bx--col-xl-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .bx--col-xl-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .bx--col-xl-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .bx--col-xl-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .bx--col-xl-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .bx--col-xl-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .bx--col-xl-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .bx--col-xl-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .bx--col-xl-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .bx--col-xl-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .bx--col-xl-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .bx--col-xl-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (min-width: 1600px) {
    .bx--col-xxl-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .bx--col-xxl-1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .bx--col-xxl-2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .bx--col-xxl-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .bx--col-xxl-4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .bx--col-xxl-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .bx--col-xxl-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .bx--col-xxl-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .bx--col-xxl-8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .bx--col-xxl-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .bx--col-xxl-10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .bx--col-xxl-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .bx--col-xxl-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

.bx--col-xs,
.bx--col-sm,
.bx--col-md,
.bx--col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

button.bx--btn {
    display: inline-block;
}

button.bx--btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button.bx--btn .bx--btn__icon {
    position: relative;
    vertical-align: middle;
    top: -1px;
}