.bx--structured-list-input {
    display: none;
}

.bx--structured-list {
    font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
    display: table;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5rem;
    background-color: transparent;
}

.bx--structured-list.bx--structured-list--border {
    border: 1px solid #dfe3e6;
    background-color: #fff;
}

.bx--structured-list.bx--structured-list--condensed .bx--structured-list-td {
    padding: 0.5rem;
}

.bx--structured-list-row {
    display: table-row;
    border-bottom: 1px solid #dfe3e6;
    transition: 250ms cubic-bezier(0.5, 0, 0.1, 1);
}

.bx--structured-list--selection .bx--structured-list-row:hover:not(.bx--structured-list-row--header-row) {
    background-color: rgba(85, 150, 230, 0.1);
    cursor: pointer;
}

[data-structured-list] .bx--structured-list-row:hover:not(.bx--structured-list-row--header-row) {
    background-color: rgba(85, 150, 230, 0.1);
    cursor: pointer;
}

.bx--structured-list-row.bx--structured-list-row--selected {
    background-color: rgba(85, 150, 230, 0.1);
}

.bx--structured-list-row.bx--structured-list-row--header-row {
    border-bottom: 2px solid #3d70b2;
    cursor: inherit;
}

.bx--structured-list-row:focus:not(.bx--structured-list-row--header-row) {
    outline: 1px solid #3d70b2;
}

.bx--structured-list-thead {
    display: table-header-group;
    vertical-align: middle;
}

.bx--structured-list-th {
    padding-left: 0;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    font-size: 0.75rem;
    font-weight: 700;
    height: 2.5rem;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
}

.bx--structured-list-th:last-child {
    padding-right: 0;
}

.bx--structured-list-tbody {
    display: table-row-group;
    vertical-align: middle;
}

.bx--structured-list-td {
    font-size: 0.875rem;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    display: table-cell;
}

.bx--structured-list-td:last-child {
    padding-right: 2rem;
}

.bx--structured-list-content--nowrap {
    white-space: nowrap;
}

.bx--structured-list-svg {
    display: inline-block;
    fill: transparent;
    vertical-align: middle;
    transition: 250ms cubic-bezier(0.5, 0, 0.1, 1);
}

.bx--structured-list-row:hover .bx--structured-list-svg {
    fill: rgba(85, 150, 230, 0.1);
}

.bx--structured-list-input:checked+.bx--structured-list-row .bx--structured-list-svg,
.bx--structured-list-input:checked+.bx--structured-list-td .bx--structured-list-svg {
    fill: #5596e6;
}

.bx--structured-list-content {
    font-size: 0.875rem;
}