@charset "UTF-8";
/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
  background-color: whitesmoke; }

a {
  outline: 0; }

em {
  font-weight: 700;
  font-style: normal; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

ul, ul li, p, h1, h2, h3, h4, h5 {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  border: 0;
  outline: 0; }

.qucik {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start; }
  .qucik[class*="pure-u"] {
    /*
            Resets the font family back to the OS/browser's default sans-serif font,
            this the same font stack that Normalize.css sets for the `body`.
        */
    font-family: sans-serif; }
  .qucik section {
    display: inline-block;
    *display: inline;
    /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 50%;
    *width: 49.9690%;
    height: 3.125em; }
    .qucik section.logo a {
      width: 100px;
      display: block;
      padding: 10px; }
      .qucik section.logo a svg {
        width: 100%;
        fill: black; }

.shutcut {
  text-align: right;
  text-align: right;
  padding: 0 2em 0 1em;
  box-sizing: border-box;
  position: relative; }
  .shutcut .loading-ball {
    background-color: transparent;
    border: 3px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-top: 3px solid transparent;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
    width: 20px;
    height: 20px;
    border-radius: 15px; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .shutcut ul li {
    display: inline-block; }
  .shutcut ul li a {
    text-decoration: none;
    font-size: 0.875em;
    padding: 16px;
    display: block;
    color: #323232; }

.navi ul {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start; }
  .navi ul[class*="pure-u"] {
    /*
            Resets the font family back to the OS/browser's default sans-serif font,
            this the same font stack that Normalize.css sets for the `body`.
        */
    font-family: sans-serif; }

.navi ul li {
  display: inline-block;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.navi ul li a {
  display: block;
  padding: 24px;
  font-size: 0.875em;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent; }

.navi ul li.market {
  text-align: center;
  padding: 0 0 0 16px;
  color: white; }
  .navi ul li.market h3 {
    letter-spacing: 6px;
    padding: 12px 0 0;
    font-size: 150%;
    font-weight: 600; }
  .navi ul li.market p {
    transform: scale(0.625) translateX(-5px) translateY(-8px);
    -webkit-transform: scale(0.625) translateX(-5px) translateY(-8px);
    -ms-transform: scale(0.625) translateX(-5px) translateY(-8px); }

.navi ul li.search {
  text-align: right; }

.navi ul li a:hover {
  border-bottom: 2px solid #0869ff; }

.header-menu {
  background-color: #292929;
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start; }
  .header-menu[class*="pure-u"] {
    /*
            Resets the font family back to the OS/browser's default sans-serif font,
            this the same font stack that Normalize.css sets for the `body`.
        */
    font-family: sans-serif; }
  .header-menu nav {
    display: inline-block;
    *display: inline;
    /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 50%;
    *width: 49.9690%;
    display: inline-block;
    *display: inline;
    /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .header-menu section {
    display: inline-block;
    *display: inline;
    /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 50%;
    *width: 49.9690%;
    display: inline-block;
    *display: inline;
    /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding: 20px 0 0 0; }
    .header-menu section .wrapper {
      letter-spacing: -0.31em;
      /* Webkit: collapse white-space between units */
      *letter-spacing: normal;
      /* reset IE < 8 */
      *word-spacing: -0.43em;
      /* IE < 8: collapse white-space between units */
      text-rendering: optimizespeed;
      /* Webkit: fixes text-rendering: optimizeLegibility */
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start; }
      .header-menu section .wrapper[class*="pure-u"] {
        /*
            Resets the font family back to the OS/browser's default sans-serif font,
            this the same font stack that Normalize.css sets for the `body`.
        */
        font-family: sans-serif; }
      .header-menu section .wrapper .search-wrapper {
        text-align: right;
        display: inline-block;
        *display: inline;
        /* IE < 8: fake inline-block */
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
        width: 50%;
        *width: 49.9690%;
        display: inline-block;
        *display: inline;
        /* IE < 8: fake inline-block */
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto; }
      .header-menu section .wrapper .roadmap {
        display: inline-block;
        *display: inline;
        /* IE < 8: fake inline-block */
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
        width: 50%;
        *width: 49.9690%;
        display: inline-block;
        *display: inline;
        /* IE < 8: fake inline-block */
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
        padding: 5px 0 0 0; }
        .header-menu section .wrapper .roadmap a {
          text-decoration: none;
          padding: 10px 20px;
          border: 1px solid white;
          font-size: 0.875em;
          color: white;
          margin: 0 0 0 10px; }
  .header-menu .search {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start; }
    .header-menu .search[class*="pure-u"] {
      /*
            Resets the font family back to the OS/browser's default sans-serif font,
            this the same font stack that Normalize.css sets for the `body`.
        */
      font-family: sans-serif; }
    .header-menu .search input {
      display: inline-block;
      *display: inline;
      /* IE < 8: fake inline-block */
      zoom: 1;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      text-rendering: auto;
      padding: 0.5em 0.6em;
      display: inline-block;
      border: none;
      box-sizing: border-box;
      outline: 0;
      vertical-align: middle;
      width: 220px; }
      .header-menu .search input:not([type]) {
        padding: 0.5em 0.6em;
        display: inline-block;
        border: none;
        box-sizing: border-box;
        outline: 0; }
    .header-menu .search button {
      display: inline-block;
      *display: inline;
      /* IE < 8: fake inline-block */
      zoom: 1;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      text-rendering: auto;
      outline: 0;
      color: white;
      background-color: #3d70b2;
      text-decoration: none;
      display: inline-block;
      zoom: 1;
      line-height: normal;
      white-space: nowrap;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-sizing: border-box;
      padding: 0.5em 1em;
      border: none;
      border-radius: 0; }
      .header-menu .search button:hover {
        background-color: #5596e6; }
      .header-menu .search button[disabled] {
        background-color: rgba(61, 112, 178, 0.5); }
      .header-menu .search button[disabled]:hover {
        background-color: rgba(61, 112, 178, 0.5); }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  color: #323232; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  border: 1px solid #0869ff;
  cursor: pointer;
  text-align: center; }

input[type="checkbox"]:checked + label span {
  background-color: #0869ff; }

input[type="checkbox"]:checked + label span::before {
  content: "✓";
  color: white; }

main > .wrapper {
  margin: 0 auto; }
  main > .wrapper div[class*="order-"] {
    max-width: 1296px;
    margin: 0 auto 2em; }
    main > .wrapper div[class*="order-"] > .wrapper {
      background-color: white;
      padding: 1.25em; }
      main > .wrapper div[class*="order-"] > .wrapper > ul li {
        padding: 13px 20px 18px;
        border-bottom: 1px solid #f1f1f1; }
  main > .wrapper .order-other {
    background-color: white;
    min-height: 140px;
    position: relative; }
    main > .wrapper .order-other .loading-ball {
      background-color: transparent;
      border: 3px solid rgba(0, 183, 229, 0.9);
      opacity: .9;
      border-top: 3px solid transparent;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      -moz-animation: spin .5s infinite linear;
      -webkit-animation: spin .5s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    main > .wrapper .order-other .accordion .item > input[type='radio'], main > .wrapper .order-other .accordion .item > input[type='checkbox'] {
      display: none; }
      main > .wrapper .order-other .accordion .item > input[type='radio']:checked ~ .content, main > .wrapper .order-other .accordion .item > input[type='checkbox']:checked ~ .content {
        max-height: 500px; }
    main > .wrapper .order-other .accordion .item > input[type='radio']:checked ~ content {
      -webkit-transition-delay: 0ms;
      -moz-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      transition-delay: 0ms; }
    main > .wrapper .order-other .accordion .item > .content {
      -webkit-transition: max-height 0.1s linear;
      -moz-transition: max-height 0.1s linear;
      -o-transition: max-height 0.1s linear;
      transition: max-height 0.1s linear;
      max-height: 0;
      overflow: auto;
      padding: 0 10px; }
    main > .wrapper .order-other .accordion .item > label {
      cursor: pointer;
      padding: 10px 0;
      display: block;
      background-color: #e0e0e0;
      border: 1px solid #d0d0d0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      main > .wrapper .order-other .accordion .item > label:hover {
        background-color: #ffaaaa; }
    main > .wrapper .order-other .accordion .item > label {
      background-color: white;
      color: #0869ff;
      border: 0; }
      main > .wrapper .order-other .accordion .item > label:hover {
        background-color: white; }
      main > .wrapper .order-other .accordion .item > label::before {
        content: "+";
        color: white;
        display: inline-block;
        background-color: #0869ff;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 14px;
        border-radius: 12px;
        font-size: 16px;
        margin: 0 5px 0 0;
        position: relative;
        top: -2px;
        font-weight: bolder; }
    main > .wrapper .order-other .payment-wrapper {
      padding: 20px 16px; }
      main > .wrapper .order-other .payment-wrapper .payment {
        text-align: right; }
        main > .wrapper .order-other .payment-wrapper .payment button {
          outline: 0;
          color: white;
          background-color: #3d70b2;
          text-decoration: none;
          display: inline-block;
          zoom: 1;
          line-height: normal;
          white-space: nowrap;
          vertical-align: middle;
          text-align: center;
          cursor: pointer;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          box-sizing: border-box;
          padding: 0.5em 1em;
          background-color: #0869ff;
          color: white;
          text-align: center;
          padding: 10px 30px;
          border-radius: 0;
          border: 0;
          margin-left: 10px; }
          main > .wrapper .order-other .payment-wrapper .payment button:hover {
            background-color: #5596e6; }
          main > .wrapper .order-other .payment-wrapper .payment button[disabled] {
            background-color: rgba(61, 112, 178, 0.5); }
          main > .wrapper .order-other .payment-wrapper .payment button[disabled]:hover {
            background-color: rgba(61, 112, 178, 0.5); }
          main > .wrapper .order-other .payment-wrapper .payment button:hover {
            background-color: #0869ff;
            color: white; }
  main > .wrapper .order-list {
    background-color: white;
    min-height: 77px;
    position: relative; }
    main > .wrapper .order-list .loading-ball {
      background-color: transparent;
      border: 3px solid rgba(0, 183, 229, 0.9);
      opacity: .9;
      border-top: 3px solid transparent;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      -moz-animation: spin .5s infinite linear;
      -webkit-animation: spin .5s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    main > .wrapper .order-list table {
      border-collapse: collapse;
      border-spacing: 0;
      empty-cells: show;
      width: 100%;
      border: 1px solid #e7e7e7; }
      main > .wrapper .order-list table caption {
        color: #000;
        font: italic 85%/1 arial, sans-serif;
        padding: 1em 0;
        text-align: center; }
      main > .wrapper .order-list table td, main > .wrapper .order-list table th {
        border-left: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        padding: 8px 16px;
        font-size: 0.875em;
        text-align: left; }
      main > .wrapper .order-list table thead {
        background-color: #f5f7fa;
        color: #4a4a4a;
        text-align: left;
        vertical-align: bottom; }
    main > .wrapper .order-list > .wrapper.nopadding {
      padding: 0; }
  main > .wrapper .order-title > .wrapper.nopadding {
    padding: 1.25em 0 0 0;
    background-color: rgba(255, 255, 255, 0); }

.contact {
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
  background-color: #323232; }
  .contact .wrapper {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    max-width: 1296px;
    margin: 0 auto; }
    .contact .wrapper[class*="pure-u"] {
      /*
            Resets the font family back to the OS/browser's default sans-serif font,
            this the same font stack that Normalize.css sets for the `body`.
        */
      font-family: sans-serif; }
    .contact .wrapper ul {
      width: 100%;
      display: inline-block;
      zoom: 1;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      text-rendering: auto; }
      .contact .wrapper ul li a {
        text-decoration: none;
        color: white;
        padding: 4px 0 0 0;
        display: block;
        font-size: 0.875em; }
      .contact .wrapper ul li:first-child a {
        font-weight: bolder;
        padding: 0 0 20px 0;
        font-size: 1em; }

.delaration {
  margin: 4em auto 0;
  padding: 1em 0;
  text-align: center;
  background-color: black; }
  .delaration .wrapper {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    max-width: 1296px;
    margin: 0 auto; }
    .delaration .wrapper[class*="pure-u"] {
      /*
            Resets the font family back to the OS/browser's default sans-serif font,
            this the same font stack that Normalize.css sets for the `body`.
        */
      font-family: sans-serif; }
    .delaration .wrapper ul {
      width: 100%;
      display: inline-block;
      zoom: 1;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      text-rendering: auto; }
      .delaration .wrapper ul li a {
        text-decoration: none;
        color: #a9b0b4;
        display: block;
        font-size: 1.125em; }
        .delaration .wrapper ul li a::before {
          content: "质";
          font-weight: 100;
          display: inline-block;
          color: #0869ff;
          border: solid 2px #0869ff;
          width: 24px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          border-radius: 14px;
          font-size: 16px;
          margin: 0 5px 0 0; }
        .delaration .wrapper ul li a.zheng::before {
          content: "证"; }
        .delaration .wrapper ul li a.bao::before {
          content: "保"; }
        .delaration .wrapper ul li a.tui::before {
          content: "退"; }
      .delaration .wrapper ul li:first-child a {
        font-weight: bolder;
        padding: 20px 0; }

@media screen and (min-width: 48em) {
  .contact .wrapper ul, .delaration .wrapper ul {
    width: 25%;
    *width: 24.9690%; } }
