<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>Janell UI Example</title>
    <link rel="stylesheet" href="{{ctx.app.config.pathFix}}/public/css/output/ui/ui.css">
</head>
<body>
    <div class="header">
        <navi>
            <ul>
                <li>
                    <a href="#">订酒店</a>
                </li>
                <li>
                    <a href="#">美食</a>
                </li>
                <li>
                    <a href="#">娱乐</a>
                </li>
                <li>
                    <a href="#">投诉</a>
                </li>
            </ul>
        </navi>
        <section>
            <ul>
                <li>
                    <a href="#">张先生</a>
                </li>
                <li>
                    <a href="#">推荐套餐</a>
                </li>
                <li>
                    <a href="#">发起活动</a>
                </li>
            </ul>
        </section>
    </div>
    <div>
        <div>
            <div class="eating">
                <ul>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="drinking">
                <ul>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="funning">
                <ul>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="joying">
                <ul>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="customer">
                            <img class="photo" src="" />
                            <div class="community">
                                <h3>黑胡椒牛排</h3>
                                <p>快来吧，打折，新鲜</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            咨询
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <=50m
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        
    </div>
    <script src="/public/js/fastclick.js"></script>
    <script>
        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);
            }, false);
        }
    </script>
</body>
</html>
